{% extends "main/template.html" %}


{% block content %}
    <!-- CENTER -->
    <div class="container-fluid about">
        <div class="bg"></div>
        <div class="row">
            <h3><span>О Нас</span></h3>

            <div class="about-text">
                <p>Невозможно уместить в минутный ролик все те прекрасные события и праздники, которые мы создаём для наших друзей и клиентов. Но все же мы попытались передать вам их атмосферу...</p>
                <p>Уже более 10 лет на этом рынке, имея огромный опыт и множество отлично проведенных мероприятий, мы объединили все лучшее для вашего праздника под одной крышей - Творческое объединение "АRТelle".</p>
                <p>Каждый новый клиент становится нашим другом, чему мы несказанно рады. Говорить о нас можно бесконечно, но лучше приходите к нам в гости и вы все увидите своими глазами.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid partners">
        <div class="row">
            <h3><span>Наши партнеры</span></h3>
        </div>
    </div>
    <!-- /CENTER -->
{% endblock %}