{% extends "main/template.html" %}


{% block content %}
    <!-- CENTER -->
    <div class="container-fluid about">
        <div class="bg"></div>
        <div class="row">
            <h3><span>О Нас</span></h3>

            <div class="about-text">
                {{ info.about|safe }}
            </div>
        </div>
    </div>

    <div class="container-fluid partners">
        <div class="row">
            <h3><span>Наши партнеры</span></h3>
        </div>
    </div>
    <!-- /CENTER -->
{% endblock %}