{% extends "cms/template.html" %}
{% load staticfiles %}

{% block css %}
    <!-- SummerNote CSS -->
    <link rel="stylesheet" href="{% static 'cms/css/summernote/summernote.css' %}">
{% endblock %}

{% block js %}
    <!-- SummerNote JS -->
    <script src="{% static 'cms/js/summernote/summernote-updated.min.js' %}"></script>
    <script src="{% static 'cms/js/summernote/summernote-active.js' %}"></script>

    <script>
        $(document).ready(function() {

            $('#summernote').summernote({
                placeholder: 'Текст о нас',
                tabsize: 2,
                height: 200
            })

            $('#edit-about').click(function() {
                var html = $('.note-editable').html()
                $('#about-field').val(html)
                $('#edit-about-form').submit()
            })

        })
    </script>
{% endblock %}

{% block content %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list">
            {% if msg %}
            <div class="alert alert-success" role="alert">{{ msg }}</div>
            {% endif %}
            {% if error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endif %}
            <form method="POST" action="{% url 'cms_edit_about' %}" id="edit-about-form">{% csrf_token %}
                <div class="basic-tb-hd">
                    <h2>Редактировать данные страницы "О Нас"</h2>
                    <p>На этой странице можно текст со страницы "О Нас".</p>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="nk-int-st">
                                <textarea id="summernote">{{ info.about|safe }}</textarea>
                                <textarea id="about-field" name="about" style="display: none;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="justify-center">
                    <button type="button" class="btn btn-primary notika-btn-primary btn-lg" id="edit-about">Сохранить</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Dropzone area Start-->
    <!-- <div class="dropzone-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="dropdone-nk mg-t-30">
                        <div class="cmp-tb-hd">
                            <h2>Сменить видео заднего плана</h2>
                            <p>Просто перетащите видео в нижнюю область и нажмите сохранить.</p>
                        </div>
                        <div id="dropzone1" class="multi-uploader-cs">
                            <form action="#" class="dropzone dropzone-nk needsclick" id="demo1-upload">{% csrf_token %}
                                <div class="dz-message needsclick download-custom">
                                    <i class="notika-icon notika-cloud"></i>
                                    <h2>Drop files here or click to upload.</h2>
                                    <p><span class="note needsclick">Перетащите файл в данную зону или кликните для загрузки</span>
                                    </p>
                                </div>
                            </form>
                        </div>
                        <br>
                        <div class="justify-center">
                            <button type="submit" class="btn btn-primary notika-btn-primary btn-lg">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Dropzone area End-->
{% endblock %}