{% extends "cms/template.html" %}


{% block content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list">
            <div class="basic-tb-hd">
                <h1>Инструкции по использованию CMS</h1>
                <div class="panel panel-info autocollapse">
                    <div class="panel-heading clickable">
                        <h3 class="panel-title">
                            Information Title
                        </h3>
                    </div>
                    <div class="panel-body">
                        <!-- <div class="alert alert-danger" role="alert">SPOILER ALERT!</div> -->
                        <p>Здесь скорее всего будут инструкции по использованию CMS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}