{% extends "cms/template.html" %}
{% load staticfiles %}

{% block css %}
    <style>
        .form-element-list {
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            margin-top: 30px;
            position: relative;
        }
    </style>
{% endblock %}

{% block js %}
    <script>
        $('#main-li').removeClass('active')
        $('#main').removeClass('active')

        $('#projects-li').addClass('active')
        $('#projects').addClass('active')

        $('.delete').click(function() {
            if (confirm('Вы уверены что хотите удалить проект?')) {
                var id = $(this).data('id')
                $.ajax({
                    type: 'GET',
                    url: 'project/upload/',
                    data: { id: id, 'action': 'delete' },
                    cache: false,
                    success: function(data) {
                        if(data == "1") {
                            window.location.href = "/cms/projects/"
                        }
                    },
                    error: function() { console.log('Error of deleting project') }
                })
            }
        })
    </script>
{% endblock %}

{% block content %}
    {% for p in projects %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list">
            <div class="basic-tb-hd">
                <h2><a href="{% url 'cms_project' %}?id={{ p.id }}">{{ p.name }}</a></h2>
            </div>
            <input type="hidden" name="id" value="{{ category1.id }}">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <b style="display: inline;">Описание проекта: </b>
                        <div class="project-description">
                            <p>{{ p.description|safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <b>Дата проекта: </b>
                        <p style="display: inline;">{{ p.date }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <b>Категория: </b>
                        <p>{{ p.category_name }}</p>
                    </div>
                </div>
            </div>
            <div class="delete" data-id="{{ p.id }}">Удалить?</div>
        </div>
    </div>
    {% endfor %}
{% endblock %}